# DATA LOADING

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('New_sales.csv')

In [7]:
data.head()

,Unnamed: 0,State,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
0,0,California,63.0,109.0,-131.0,West,40,Coffee,2947.0,Regular,172.0
1,1,California,55.0,201.0,88.0,West,24,Tea,659.0,Regular,256.0
2,2,California,700.0,289.0,25.0,West,109,Espresso,788.0,Regular,989.0
3,3,California,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,4,California,37.0,247.0,148.0,West,26,Herbal Tea,809.0,Decaf,284.0

In [5]:
data.head(10)

,Unnamed: 0,State,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
0,0,California,63.0,109.0,-131.0,West,40,Coffee,2947.0,Regular,172.0
1,1,California,55.0,201.0,88.0,West,24,Tea,659.0,Regular,256.0
2,2,California,700.0,289.0,25.0,West,109,Espresso,788.0,Regular,989.0
3,3,California,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
4,4,California,37.0,247.0,148.0,West,26,Herbal Tea,809.0,Decaf,284.0
5,5,California,99.0,582.0,291.0,West,77,Herbal Tea,1268.0,Decaf,681.0
6,6,California,25.0,90.0,26.0,West,12,Herbal Tea,541.0,Decaf,115.0
7,7,California,43.0,276.0,120.0,West,31,Tea,897.0,Regular,319.0
8,8,California,32.0,187.0,79.0,West,21,Tea,580.0,Regular,219.0
9,9,California,142.0,687.0,364.0,West,90,Coffee,2067.0,Regular,829.0

In [6]:
data.tail(10)

,Unnamed: 0,State,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
4219,4231,Wisconsin,25.0,123.0,64.0,Central,13,Herbal Tea,772.0,Decaf,148.0
4220,4232,Wisconsin,40.0,137.0,41.0,Central,17,Tea,382.0,Regular,177.0
4221,4233,Wisconsin,38.0,110.0,27.0,Central,14,Tea,410.0,Regular,148.0
4222,4234,Wisconsin,35.0,99.0,24.0,Central,12,Tea,443.0,Regular,134.0
4223,4235,Wisconsin,33.0,90.0,21.0,Central,11,Tea,462.0,Regular,123.0
4224,4236,Wisconsin,34.0,90.0,20.0,Central,11,Tea,458.0,Regular,124.0
4225,4237,Wisconsin,36.0,113.0,31.0,Central,14,Tea,454.0,Regular,149.0
4226,4238,Wisconsin,86.0,150.0,1.0,Central,57,Tea,506.0,Regular,236.0
4227,4239,Wisconsin,79.0,131.0,-3.0,Central,49,Tea,627.0,Regular,210.0
4228,4240,Wisconsin,87.0,165.0,4.0,Central,58,Tea,513.0,Regular,252.0

In [8]:
data.shape

(4229, 11)