In [6]:
import pandas as pd 
data = pd.read_csv('New_sales.csv', index_col='State')

# Filtering Data

In [7]:
data

,Unnamed: 0,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
State,,,,,,,,,,
California,0,63.0,109.0,-131.0,West,40,Coffee,2947.0,Regular,172.0
California,1,55.0,201.0,88.0,West,24,Tea,659.0,Regular,256.0
California,2,700.0,289.0,25.0,West,109,Espresso,788.0,Regular,989.0
California,3,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
California,4,37.0,247.0,148.0,West,26,Herbal Tea,809.0,Decaf,284.0
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,4236,34.0,90.0,20.0,Central,11,Tea,458.0,Regular,124.0
Wisconsin,4237,36.0,113.0,31.0,Central,14,Tea,454.0,Regular,149.0
Wisconsin,4238,86.0,150.0,1.0,Central,57,Tea,506.0,Regular,236.0
Wisconsin,4239,79.0,131.0,-3.0,Central,49,Tea,627.0,Regular,210.0
Wisconsin,4240,87.0,165.0,4.0,Central,58,Tea,513.0,Regular,252.0

In [8]:
highest_sales = data['Sales']>300
highest_sales

State
California    False
California    False
California    False
California     True
California    False
              ...
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Name: Sales, Length: 4229, dtype: bool

In [9]:
data.loc[highest_sales]

,Unnamed: 0,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
State,,,,,,,,,,
California,3,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
California,5,99.0,582.0,291.0,West,77,Herbal Tea,1268.0,Decaf,681.0
California,9,142.0,687.0,364.0,West,90,Coffee,2067.0,Regular,829.0
California,10,166.0,902.0,508.0,West,127,Coffee,2617.0,Regular,1068.0
California,11,139.0,664.0,349.0,West,87,Coffee,2580.0,Regular,803.0
...,...,...,...,...,...,...,...,...,...,...
Washington,3932,71.0,329.0,171.0,West,40,Herbal Tea,932.0,Decaf,400.0
Washington,3933,73.0,334.0,171.0,West,41,Herbal Tea,1119.0,Decaf,407.0
Washington,4004,75.0,347.0,179.0,West,40,Herbal Tea,961.0,Decaf,422.0
Wisconsin,4122,149.0,317.0,35.0,Central,120,Coffee,705.0,Regular,466.0
Wisconsin,4213,139.0,314.0,48.0,Central,120,Coffee,705.0,Regular,453.0

In [13]:
data.loc[highest_sales, ['Product_Type','Profit', 'Sales']]

           Product_Type  Profit  Sales
State
California     Espresso   216.0  576.0
California   Herbal Tea   291.0  582.0
California       Coffee   364.0  687.0
California       Coffee   508.0  902.0
California       Coffee   349.0  664.0
...                 ...     ...    ...
Washington   Herbal Tea   171.0  329.0
Washington   Herbal Tea   171.0  334.0
Washington   Herbal Tea   179.0  347.0
Wisconsin        Coffee    35.0  317.0
Wisconsin        Coffee    48.0  314.0

[665 rows x 3 columns]

In [15]:
data['Product_Type'].unique()

array(['Coffee', 'Tea', 'Espresso', 'Herbal Tea'], dtype=object)

In [24]:
product = ['Coffee', 'Espresso']

In [25]:
filt = data['Product_Type'].isin(product)

In [27]:
#We only get of these product types through this filtering 
data.loc[filt]

,Unnamed: 0,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
State,,,,,,,,,,
California,0,63.0,109.0,-131.0,West,40,Coffee,2947.0,Regular,172.0
California,2,700.0,289.0,25.0,West,109,Espresso,788.0,Regular,989.0
California,3,113.0,576.0,216.0,West,81,Espresso,1744.0,Decaf,689.0
California,9,142.0,687.0,364.0,West,90,Coffee,2067.0,Regular,829.0
California,10,166.0,902.0,508.0,West,127,Coffee,2617.0,Regular,1068.0
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,4219,44.0,164.0,45.0,Central,23,Espresso,1063.0,Regular,208.0
Wisconsin,4220,46.0,194.0,79.0,Central,25,Espresso,1063.0,Regular,240.0
Wisconsin,4221,29.0,115.0,36.0,Central,16,Espresso,587.0,Decaf,144.0
Wisconsin,4222,26.0,110.0,47.0,Central,14,Espresso,605.0,Decaf,136.0
Wisconsin,4223,19.0,55.0,16.0,Central,7,Espresso,570.0,Decaf,74.0